.slider {
  -webkit-appearance: none;
  width: 100%;
  height: 10px;
  border-radius: 5px;
  background: black;
  outline: none;
  -webkit-transition: .2s;
  transition: opacity .2s;
}



.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: blue;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: black;
  cursor: pointer;
}

.propertiesInputPanel{
  width: 100%;
}
.strokeColorGroup{
  padding-top: 20px;

}
.StrokeColorInputStyle{
  float: right;
}
.fillColorGroup{
  padding-top: 20px;
}
.FillColorInputStyle{
  float: right;
}
.angleInputGroup{
  padding-top: 20px;
}
.AngleInputStyle{
  width: 60%;
  float: right;
}


