<h3>Properties Panel</h3>
<hr />
<br /><br />

<form class="propertiesInputPanel">
  <div class="strokeWidthGroup">
    <label> Stroke Width</label>
    <input
      type="range"
      min="1"
      max="10"
      #StrokeWidth
      [disabled]="isdisabled"
      [value]="PropertyPanelValues.StrokeWidth"
      (change)="onStrokeWidthChange(StrokeWidth.value)"
      class="slider"
    />
  </div>

  <div class="strokeColorGroup">
    <label>Stroke</label>
    <input
      [disabled]="isdisabled"
      type="color"
      class="StrokeColorInputStyle"
      #StrokeColorInputValue
      [value]="PropertyPanelValues.StrokeColor"
      (change)="onStrokeColorChange(StrokeColorInputValue.value)"
    />
  </div>

  <div class="fillColorGroup">
    <label>Fill</label>
    <input
      type="color"
      class="FillColorInputStyle"
      #FillColorValue
      [disabled]="isdisabled"
      [value]="PropertyPanelValues.FillColor"
      (change)="onFillColorChange(FillColorValue.value)"
    />
  </div>

  <div class="angleInputGroup">
    <label>Angle</label>
    <input
      type="text"
      #AngleValue
      [disabled]="isdisabled"
      [value]="this.PropertyPanelValues.ObjectAngle"
      (change)="onAngleChange(AngleValue.value)"
      class="AngleInputStyle"
    />
  </div>
</form>
<br /><br />
<div *ngIf="this.isdisabled" style="color: red; font-size: small">
  <div>*Property Panel Cannot Be Used!</div>
</div>
