<h3>Properties Panel</h3>
<hr />
<br /><br />

<div *ngIf="this.isdisabled; then InvalidMessage; else PropertyPanel"></div>
<ng-template #PropertyPanel>
  <form class="propertiesInputPanel" name="PropertyPanelForm">
    <div class="strokeWidthGroup">
      <label> Stroke Width</label>
      <input
        type="range"
        min="1"
        max="10"
        name="StrokeWidthInput"
        #StrokeWidth
        [(ngModel)]="PropertyPanelValues.StrokeWidth"
        (change)="onStrokeWidthChange(StrokeWidth.value)"
        class="slider"
      />
    </div>

    <div class="strokeColorGroup">
      <label>Stroke</label>
      <input
        type="color"
        class="StrokeColorInputStyle"
        #StrokeColorInputValue
        name="StrokeColorInput"
        [(ngModel)]="PropertyPanelValues.StrokeColor"
        (change)="onStrokeColorChange(StrokeColorInputValue.value)"
      />
    </div>

    <div class="fillColorGroup">
      <label>Fill</label>
      <input
        type="color"
        class="FillColorInputStyle"
        #FillColorValue
        name="FillColorInput"
        [(ngModel)]="PropertyPanelValues.FillColor"
        (change)="onFillColorChange(FillColorValue.value)"
      />
    </div>

    <div class="angleInputGroup">
      <label>Angle</label>
      <input
        type="number"
        min="0"
        max="360"
        name="angleInput"
        #AngleValue
        [(ngModel)]="PropertyPanelValues.ObjectAngle"
        (change)="onAngleChange(AngleValue.value)"
        class="AngleInputStyle"
      />
    </div>
  </form>
</ng-template>
<ng-template #InvalidMessage>
  <div style="color: red; font-size: small">
    *Property Panel Cannot Be Used!
  </div>
  <div style="color: red; font-size: smaller">
    &nbsp;&nbsp; Please Select A Single Object
  </div>
</ng-template>
