.canvasPanel{
  position: relative;
  height: 100%;
  width: 100%;
}

#canvasArea{
  position: absolute;
  background-color: lightgray;
  height: 100%;
  width: 100%;
}

.buttonGroup{
  position: absolute;
  left: 40%;
  top: 90%;
}

.canvastoolButton{
  background-color: white;
  padding: 10px;
  padding-left: 20px;
  padding-right: 20px ;
}
.canvastoolButton:hover{
  cursor: pointer;
}

