.canvasPanel {
  position: relative;
  height: 100%;
  width: 100%;
}

#canvasArea {
  position: absolute;
  height: 100%;
  width: 100%;
}

.buttonGroup {
  margin: 0;
  position: absolute;
  left: 50%;
  top: 90%;
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
}

.canvastoolButton {
  background-color: white;
  padding: 10px;
  padding-left: 20px;
  padding-right: 20px;
}
.canvastoolButton:hover {
  cursor: pointer;
}
