<div class="container">
  <mat-grid-list cols="6" rowHeight="107px">
    <mat-grid-tile colspan="6" rowspan="1">
      <div class="HeaderPanelAlign">
        <app-header></app-header>
      </div>
    </mat-grid-tile>

    <mat-grid-tile colspan="1" rowspan="8">
      <div class="ObjectPalleteContentAllign">
        <app-object-pallete></app-object-pallete>
      </div>
    </mat-grid-tile>

    <mat-grid-tile colspan="4" rowspan="7">
      <div class="CanvasPanleContentAlign">
        <app-app-canvas></app-app-canvas>
      </div>
    </mat-grid-tile>

    <mat-grid-tile colspan="1" rowspan="8">
      <div class="PropertiesPanelContentAlign">
        <app-properties-panel></app-properties-panel>
      </div>
    </mat-grid-tile>

    <mat-grid-tile colspan="4" rowspan="1">
      <div class="InventInspectorPanelContentAlign">
        <app-event-inspector-panel></app-event-inspector-panel>
      </div>
    </mat-grid-tile>
  </mat-grid-list>
</div>
