mat-grid-tile {
  border: 1px solid black;
}

.container{
  margin:30px;
  width: 80%;
  margin: auto;
  margin-top: 10px;
  border: 1px solid black;
  padding: 10px;
}

.ObjectPalleteContentAllignLeft{

  width: 90%;
  height: 90%;

}

.PropertiesPanelContentAlign{
  width: 90%;
  height: 90%;
}

.CanvasPanleContentAlign{
  height: 100%;
  width: 100%;
}
.InventInspectorPanelContentAlign{
  height: 100%;
  width: 100%;
  padding-left: 10px;
}
