mat-grid-tile {
  border: 1px solid black;
}

.container{
  width: 99%;
  height: 100%;
  margin: auto;
  padding: 5px;
}

.HeaderPanelAlign{
  height: 100%;
  width: 100%;
  padding-left: 10px;
  padding-top: 10px;
}
.ObjectPalleteContentAllign{

  width: 90%;
  height: 90%;

}

.PropertiesPanelContentAlign{
  width: 90%;
  height: 90%;
}

.CanvasPanleContentAlign{
  height: 100%;
  width: 100%;
}
.InventInspectorPanelContentAlign{
  height: 100%;
  width: 100%;
  padding-left: 10px;
}
